[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/md-systems/puppetlabs-apache.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "modules/pear"]
	path = modules/pear
	url = https://github.com/rafaelfelix/puppet-pear.git
